<h1 style="text-align:center">This is student page </h1>
<h1>
<%= link_to "MCQ", mcqs_path %><br>
<br>
<%= link_to 'Enroll in this Course', new_enrollment_path(course_id: @course) %><br>
<br>
<%= link_to 'Essay'%>
</h1>