<main class="container">
  <%= link_to sanitize("&larr; Back to product line"), admin_index_path %>
  <%= turbo_frame_tag @product_version do %>
    <%= render "form", product_version: @product_version %>
  <% end %>
</main>