<!--<h1 style="text-align:center">Edit Course</h1>
<%= render 'courses/form'%>-->


<main class="course form">
  <%= link_to sanitize("&larr; Back to product line"), admin_index_path %>
  <%= turbo_frame_tag @course do %>
    <%= render "form", course: @course %>
  <% end %>
</main>