 <%# <%= render 'user_details/form'%>  

<main class="user_details">
  <%= link_to sanitize("&larr; Back to product version"), root_path %>

  <div class="header">
    <h1>New ProductVersion</h1>
  </div>

  <%= turbo_frame_tag @user do %>
    <%= render "form", product_version: @user %>
  <% end %>
</main>