 <%= render 'user_details/form'%> 
<!--<h1>New User</h1>

<%= turbo_frame_tag 'new_user_form' do %>
  <%= render 'form', user: @user %>
<% end %>

<%= link_to 'Back', user_details_path, class: 'btn btn-secondary' %>-->
