<h1>User Details</h1>

<%= turbo_frame_tag 'user_details' do %>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Role:</strong> <%= @user.role %></p>
<% end %>

<%= link_to 'Back', user_details_path, class: 'btn btn-secondary' %>
